
:root {
  --base-color: #fcfcfc;
  --text-color: #111111;
  --primary-color: #62b2f7;
  --gray-1: #333333;
  --gray-2: #b7b7b7;
  --gray-3: #f7f5f5;
  --max-width: 1000px;
}

html,
body {
  background-color: var(--base-color);
}

body {
  color: var(--text-color);
  line-height: 1.7;
  font-family:  sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}


.label {
  padding-left: 8px;
  height: 58px;
  line-height: 58px;
}

.item-container {
  width: calc(100% - 60px);
  margin: 30px auto 60px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.item {
  border-top: 1px solid var(--primary-color);
  background-color: var(--gray-3);
  padding-bottom: 35px;
}



.item .label {
  padding-left: 8px;
  height: 58px;
  line-height: 58px;
  font-weight: bold;
}
.item figure img {
  width: 100%;
}

.item .text {
  padding: 26px 22px 0;
  font-size: 20px;
}
