body {
  display: grid;
  place-content: center;
}

.logo {
  font-size: 128px;
  padding: 24px;
  letter-spacing: -2px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 3px #333333;
  text-shadow: 4px 4px 0 #f3cd3a;
}

